<nav class="navbar navbar-light bg-primary ">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 text-white"><a href="/products" class="text-white text-decoration-none"><i class="fa-sharp fa-solid fa-cart-shopping-fast"></i> SHADOW STORE</a></span>
    <div class="d-flex justify-content-end">
      <button class="btn btn-danger d-flex gap-2 align-items-center" (click)="logout()"><span>Çıkış</span><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></button>
    </div>
  </div>
</nav>
